%h1 YAY!!!! Everything works and is installed
%p Find me in app/views/home/index.html.erb

= link_to 'Publish Product', push_button_home_path, method: :post, class: 'btn btn-success btn-lg'

= videojs_rails sources: { mp4: '' }, width: '1800', height: '800'
